header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffe4b5;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px; 
}

.logo span {
    font-size: 20px;
    font-weight: bold;
}

nav a {
    margin: 0 15px; 
    text-decoration: none; 
    font-size: 18px;
    color: black; 
}

nav a:hover {
    color: #ff4500; /
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f5e7;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(30% - 20px); 
    margin: 0;
    min-width: 280px;
    max-width: calc(30% - 20px); 
}

.section img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.section h2 {
    font-size: 1.5em;
    margin: 15px 0;
    color: #333;
}

.section p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}